<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ask question</title>
</head>
<body>
    <h1>Enter your question!</h1>
    <form action="add-question" method="post">
        <textarea id="title input" name="Title" rows="2" cols="50"></textarea>
        <label for="title input">Type your question here</label>
        <textarea id="message input" name="Message" rows="8" cols="80"></textarea>
        <label for="message input">Type whatever you think is important to know</label>
        <button type="submit">Ask question</button>
    </form>
</body>
</html>