<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Askmate | Main page</title>
</head>
<body>

    <a style="text-decoration: none" href="/"><h1>Askmate</h1></a>

    <a style="..." href="/registration">Register</a>
    
    <form action="/search" method="get">
        <input type="text" name="q">
        <button type="submit">Search</button>
    </form>
    <br>

    <form action="/list" method="get">
        <label for="sort">Sort_by</label>
        <select id="sort" name="sort">
            <option name="sort" value="submission_time" selected>Date</option>
            <option name="sort" value="vote_number">Votes</option>
            <option name="sort" value="view_number">Views</option>
        </select>
        <br>
        <label for="order">Order</label>
        <select id="order" name="order">
            <option name="order">Desc</option>
            <option name="order">Asc</option>
        </select>
        <br>
        <button type="submit">Sort</button>
    </form>

    <br>
    <a style="text-decoration: none" href="/ask-question">Ask question</a>


    <br>
    <br>
    <table>

        <thead>
        <tr>
            <th>Time</th>
            <th>Question</th>
        </tr>
        </thead>

        <tbody>
        {% for question in questions %}
            <tr>
                <td>{{ question.submission_time }}</td>
                <td><a style="text-decoration: none" href="/question/{{ question.id }}">{{ question.title }}</a></td>
            </tr>
        {% endfor %}
        </tbody>

    </table>
    <br>
    {% if link == True %}
        <a style="text-decoration: none" href="/list">All questions</a>
    {% endif %}

</body>
</html>