<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Answer</title>
</head>
<body>
    <h1>Enter your answer!</h1>
    <form action="/question/{{ question_id }}/new-answer" method="post">
        <label for="message input">Type your answer</label><br>
        <textarea id="message input" name="Message" rows="8" cols="80"></textarea><br>
        <input type="hidden" name="question_id" value="{{ question_id }}">
        <button type="submit">Submit answer</button>
    </form>
</body>
</html>