<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Askmate | Question</title>
</head>
<body>

    <h1>{{ question.title }}</h1>

    <a style="text-decoration: none" href="/">Home page</a>
    <br>
    <br>

    <table cellpadding="8" width="80%">
    <colgroup>
        <col style="background-color: orange" span="6">
    </colgroup>
        <thead>
            <tr>
                <th>Id</th>
                <th>Time</th>
                <th>Views</th>
                <th>Votes</th>
                <th width="50%">Message</th>
                <th>Image</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>{{ question.id }}</td>
                <td>{{ question.submission_time }}</td>
                <td>{{ question.view_number }}</td>
                <td>{{ question.vote_number }}</td>
                <td width="50%">{{ question.message }}</td>
                <td>{{ question.image }}</td>
            </tr>

        </tbody>
    </table>

    <h2>Answers</h2>

    <table cellpadding="8" width="80%">
    <colgroup>
        <col style="background-color: lightgoldenrodyellow" span="5">
    </colgroup>
        <thead>
            <tr>
                <th>Id</th>
                <th>Time</th>
                <th>Votes</th>
                <th width="50%">Message</th>
                <th>Image</th>
            </tr>
        </thead>

        <tbody>
            {% for answer in question['answers'] %}
                <tr>
                    <td>{{ answer.id }}</td>
                    <td>{{ answer.submission_time }}</td>
                    <td>{{ answer.vote_number }}</td>
                    <td width="50%">{{ answer.message }}</td>
                    <td>{{ answer.image }}</td>
                </tr>
            {% endfor %}
        </tbody>

    </table>
    <br>
    <a style="text-decoration: none" href="/question/{{ question.id }}/new-answer">Answer the question</a>

</body>
</html>