<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Askmate | Question</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

    <h1>{{ question[0].title }}</h1>

    <a style="text-decoration: none" href="/">Home page</a>
    <br>
    <br>

    <table cellpadding="8" width="90%">
    <colgroup>
        <col style="background-color: orange" span="6">
    </colgroup>
        <thead>
            <tr>
                <th>Time</th>
                <th>Views</th>
                <th>Votes</th>
                <th width="50%">Message</th>
                <th>Image</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>{{ question[0].submission_time }}</td>
                <td>{{ question[0].view_number }}</td>
                <td>{{ question[0].vote_number }}</td>
                <td width="50%">{{ question[0].message }}</td>
                <td>
                    {% if question[0].image %}
                        <img src="{{ question[0].image }}" width="120" height="90" alt="image"><br>
                    {% endif %}
                    <a style="text-decoration: none" href="/question/{{ question[0].id }}/new-image">Add image</a>
                </td>
            </tr>

        </tbody>
    </table>
    <br>
    <a style="text-decoration: none" href="/question/{{ question[0].id }}/new-answer">Answer the question</a>

    <a style="text-decoration: none" href="/question/{{ question[0].id }}/edit">Edit question</a>

    <a style="text-decoration: none" href="/question/{{ question[0].id }}/delete">Delete question</a>

    <a style="text-decoration: none" href="/question/{{ question[0].id }}/vote-up">Vote Up</a>

    <a style="text-decoration: none" href="/question/{{ question[0].id }}/vote-down">Vote Down</a>

    <a style="text-decoration: none" href="/question/{{ question[0].id }}/new-comment">Add comment</a>

    <br>

    <table cellpadding="8" width="43%">
    <colgroup>
        <col style="background-color: cornsilk" span="2">
    </colgroup>
        <thead>
            <tr>
                <th>Time</th>
                <th>Comment</th>
            </tr>
        </thead>

        <tbody>
            {% for comment in comments %}
                {% if comment.question_id == question[0].id and not comment.answer_id %}
                    <tr>
                        <td>{{ comment.submission_time }}</td>
                        <td>{{ comment.message }}</td>
                        <td><a href="/comments/{{ comment.id }}/edit">Edit</a></td>
                        <td><a href="/comments/{{ comment.id }}/delete">
                        <button style="font-size:24px"><i class="fa fa-trash"></i></button></a>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>

    <h2>Answers</h2>

    <table cellpadding="8" width="90%">
    <colgroup>
        <col style="background-color: lightgoldenrodyellow" span="4">
    </colgroup>
        <thead>
            <tr>
                <th>Time</th>
                <th>Votes</th>
                <th width="50%">Message</th>
                <th>Image</th>
            </tr>
        </thead>

        <tbody>
            {% for answer in answers %}
                <tr>
                    <td>{{ answer.submission_time }}</td>
                    <td>{{ answer.vote_number }}</td>
                    <td width="60%">{{ answer.message }}</td>
                    <td>
                        {% if answer.image %}
                        <img src="{{ answer.image }}" width="120" height="90" alt="image"><br>
                        {% endif %}
                    <a style="text-decoration: none" href="/answer/{{ answer.id }}/new-image">Add image</a>
                    </td>
                    <td><a style="text-decoration: none" href="/answer/{{ answer.id }}/edit">Edit</a></td>
                    <td><a style="text-decoration: none" href="/answer/{{ answer.id }}/delete">Delete</a></td>
                    <td><a style="text-decoration: none" href="/answer/{{ answer.id }}/vote-up">Vote Up</a></td>
                    <td><a style="text-decoration: none" href="/answer/{{ answer.id }}/vote-down">Vote Down</a></td>
                    <td><a style="text-decoration: none" href="/answer/{{ answer.id }}/new-comment">Add Comment</a></td>
                </tr>
                <tr>
                    <td colspan="4">
                        <table cellpadding="8" width="65%">
                        <colgroup>
                            <col style="background-color: cornsilk" span="2">
                        </colgroup>
                            <thead>
                                <tr>
                                    <th>Time</th>
                                    <th>Comment</th>
                                </tr>
                            </thead>

                            <tbody>
                                {% for comment in comments %}
                                    {% if comment.answer_id == answer.id %}
                                        <tr>
                                            <td>{{ comment.submission_time }}</td>
                                            <td>{{ comment.message }}</td>
                                            <td><a href="/comments/{{ comment.id }}/edit">Edit</a></td>
                                            <td><a href="/comments/{{ comment.id }}/delete">
                                                <button style="font-size:24px"><i class="fa fa-trash"></i></button></a>
                                            </td>

                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </td>
                </tr>
            {% endfor %}
        </tbody>

    </table>

</body>
</html>